<script>
  import Readme from '../../../README.md'
</script>

SwyxKit is a blog template meant for frontend developers who want to get a performant, fully featured content site up and running with SvelteKit, Tailwind CSS, and other blog features (listed below).

Below is the full README.md you get from the github repo: https://github.com/sw-yx/swyxkit

---

<Readme />