.DS_Store
node_modules
/.svelte-kit
/package
/build
/functions
/static/tailwind.css
/src/lib/sampledata.json
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local Netlify folder
.netlify
.histoire